
.root {
    -fx-font-size: 12.0px;
	-fx-padding: 10.0px;
	-fx-background-color: white;
}

.row1Pane {
    -fx-padding: 0.0px 0.0px 7.0px 0.0px;
}

.menuPane {
    -fx-spacing: 15.0px;
}

.linkPane {
}

.row2Pane {
    -fx-spacing: 2.0px;
    -fx-padding: 0.0px 0.0px 3.0px 0.0px;
}

.targetsPane {
    -fx-spacing: 3.0px;
}

.targetSelectionPane {
    -fx-background-color: rgb(219.0, 244.0, 231.0);
    -fx-padding: 0.0px 12.0px 0.0px 0.0px
}

.targetTitleLabel {
    -fx-font-size: 18.0px;
    -fx-text-fill: white;
    -fx-pref-width: 28.0px;
    -fx-alignment: center;
    -fx-background-color: rgb(33.0, 115.0, 70.0);
}

.targetItemLabel {
    -fx-pref-width: 77.0px;
    -fx-padding: 0.0px 3.0px 0.0px 0.0px;
}

.executePane {
    -fx-background-color: rgb(255.0, 200.0, 200.0);
    -fx-padding: 10.0px 10.0px 10.0px 10.0px;
}

.executeButton {
    -fx-font-size: 18.0px;
    -fx-pref-width: 60.0px;
}

.togglePane {
    -fx-background-color: rgb(230.0, 240.0, 255.0);
}

.toggleButton {
    -fx-font-size: 10.0px;
}

.settingsPane1 {
    -fx-background-color: rgb(230.0, 240.0, 255.0);
    -fx-spacing: 3.0px;
}

.settingsTitleLabel1 {
    -fx-background-color: rgb(196.0, 219.0, 255.0);
    -fx-padding: 0.0px 7.0px 0.0px 5.0px;
    -fx-pref-width: 95.0px;
}

.settingsPane2 {
    -fx-background-color: rgb(230.0, 240.0, 255.0);
    -fx-spacing: 3.0px;
}

.settingsTitleLabel2 {
    -fx-background-color: rgb(196.0, 219.0, 255.0);
    -fx-padding: 0.0px 7.0px 0.0px 5.0px;
    -fx-pref-width: 65.0px;
}

.localeChoiceBox {
    -fx-pref-width: 85.0px;
}

.workDirButton {
    -fx-pref-width: 85.0px;
}
